:root {
  --game-background-color: rgb(206, 206, 206);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

#grid {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

#game-container {
  padding: 0.2rem;
  background-color: var(--game-background-color);
  border: .2rem outset rgb(255, 255, 255);
}

/*                */
/*     TITLE      */
/*                */

#game-title-bar {
  background-color: rgb(0, 0, 147);
  padding: 0.2rem 0.1rem;
  color: white;
  display: flex;
}

#game-title {
  display: flex;
}

.game-title-bar-button {
  display: flex;
  flex: 0 1 0;
  justify-self: flex-end;
  background-color: var(--game-background-color);
  
}


/*                */
/*      MENU      */
/*                */

#game-menu {
  display: flex;
  align-content: center;
  background-color: var(--game-background-color);
  
}
.game-menu-item {
  /* margin-right: 1rem; */
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  cursor: pointer;
  user-select: none;
}
.game-menu-item::first-letter {
  text-decoration: underline;
}
.game-menu-item.active {
  background-color: rgb(0, 0, 156);
  color: white;
}

.game-menu-context {
  min-width: 10rem;
  z-index: 99;
  position: absolute;
  /* left: 0; */
  background-color: var(--game-background-color);
  border: .1rem outset rgb(255, 255, 255);
  display: none;
}
.game-menu-context.show {
  display: block;
}
.game-menu-context-item {
  padding: 0.3rem;
  cursor: pointer;
  user-select: none;
}
.game-menu-context-item:hover {
  background-color: rgb(0, 0, 156);
  color: white;
}
#game-menu-game {
  
}
#game-menu-help {
  
}


/*                */
/*     HEADER     */
/*                */

#game-header {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 2rem;
  padding: 0.3rem;
  border: .25rem inset rgb(255, 255, 255);
  margin-bottom: .5rem;
  background-color: var(--game-background-color);
}

.header-item {
  display: flex;
  flex: 1;
  align-items: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 18px;
}

#mine-count-container {
  justify-content: flex-start;
}
#mine-count {
  text-align: center;
  background-color: black;
  color: red;
  padding: 0.3rem;
  cursor: default;
}

#smiley-container {
  justify-content: center;
}
#smiley {
  border: .2rem outset rgb(255, 255, 255);
  padding: 0.3rem;
  cursor: pointer;
  min-height: 1rem;
  min-width: 1rem;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
}
.smile {
 background-image: url('./img/smile.png');
}
.dead {
  background-image: url('./img/dead.png');
}
.o {
  background-image: url('./img/o.png');
}
.win {
  background-image: url('./img/win.png');
}

#timer-container {
  justify-content: flex-end;
}
#timer {
  text-align: center; 
  background-color: black;
  color: red;
  padding: 0.3em;
  cursor: default;
}


/*                */
/*      GRID      */
/*                */

#game-grid-container {
  padding: .5rem;
  background-color: var(--game-background-color);
  border: .25rem outset rgb(255, 255, 255);
}

#grid-container {
  box-sizing: border-box;
  /* background-color: rgb(206, 206, 206); */
  /* border: 0.5rem solid rgb(184, 184, 184); */
  border: .25rem inset rgb(255, 255, 255);
}

.grid-row {
  display: flex;
}

.grid-cell {
  box-sizing: border-box;
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  border: .2rem outset rgb(255, 255, 255);
  background-color: var(--game-background-color);
  user-select: none;
  /* align-content: center; */
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  background-repeat: no-repeat;
}

.grid-cell.clicked {
  border: 0.05rem solid rgb(163, 163, 163);
}

.grid-cell.exploded {
  background-color: red;
}

.grid-cell.num1:after { content: '1'; color: blue; }
.grid-cell.num2:after { content: '2'; color: green; }
.grid-cell.num3:after { content: '3'; color: red; }
.grid-cell.num4:after { content: '4'; color: navy; }
.grid-cell.num5:after { content: '5'; color: brown; }
.grid-cell.num6:after { content: '6'; color: cyan; }
.grid-cell.num7:after { content: '7'; color: black; }
.grid-cell.num8:after { content: '8'; color: grey; }
/* .grid-cell.mine:after { content: '*'; color: black; } */
.grid-cell.mine {
  background-image: url('./img/mine.png'); 
  background-size: 80% 80%;
  /* background-repeat: no-repeat; */
  background-position: center;
  color: black;
}
.grid-cell.flagged {
  background-image: url('./img/flag2.png');
  background-size: 90% 90%;
  /* background-repeat: no-repeat; */
  background-position: right;
}
.grid-cell.wrong {
  background-image: url('./img/wrong.png');
  background-size: cover; 
}